.movieCard{
    list-style: none;
    font-size: 1.5rem;
    text-align: center;

    transition: .2s ease-in-out;
}

.titles{
    color: rgb(223, 224, 255);
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
}

/* Cuando pase el mouse */
.movieCard:hover .titles{
    /* opacity: 0.9; */
    color: rgb(148, 152, 255);
    transform: scale(1.05);
}

.movieCard:hover{
    transform: scale(1.05);
}

.movieImage{
    border-radius: 30px;
    background-color: azure;
}

@media (max-width: 560px){
    .movieImage{
        border-radius: 10px;
        width: 90%;
        height: auto;
    }
    .movieCard{
        list-style: none;
        font-size: 0.5rem;
    }
    .titles{
        font-size: 20px;
    }
}