.spinner {
    display: flex;
    justify-content: center;
    color: rgb(255, 0, 106);
    margin-top: 200px;
}

.spinning {
    animation: spinner .8s infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}